@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');


/*******************************************|
|                                           |
|              DESKTOP VERSION              |
|                                           |
|*******************************************/

nav {
  position: absolute;
  width: 1440px;
  height: 78px;
  left: 0px;
  top: 0px;
}

.devonus-logo {
font-family: 'Quattrocento Sans', sans-serif;
}