@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*******************************************|
|                                           |
|              DESKTOP VERSION              |
|                                           |
|*******************************************/
* {
  margin: 0;
}

nav {
  position: absolute;
  width: 1440px;
  height: 78px;
  left: 0px;
  top: 0px;
}

.devonus-logo {
  font-family: "Quattrocento Sans", sans-serif;
  position: absolute;
  left: 2.64%;
  right: 83.4%;
  top: 21.79%;
  bottom: 22.65%;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 105.3%;
  /* or 63px */
  display: flex;
  align-items: center;
  letter-spacing: -0.08em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #000000;
}

.home-nav {
  position: absolute;
  left: 24.65%;
  right: 71.6%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  height: 78px;
  line-height: 70px;
  text-align: center;
  width: 75px;
}

.process-nav {
  position: absolute;
  left: 33.61%;
  right: 58.76%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  height: 78px;
  line-height: 70px;
  text-align: center;
  width: 128px;
}

.pricing-nav {
  position: absolute;
  left: 46.51%;
  right: 49.05%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  height: 78px;
  line-height: 70px;
  text-align: center;
    width:84px;

}

.testimonials-nav {
  position: absolute;
  left: 56.18%;
  right: 35.77%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  height: 78px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
  width: 135px;
}

.company-nav {
  position: absolute;
  left: 69.49%;
  right: 24.61%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  height: 78px;
  line-height: 70px;
  text-align: center;
  width: 105px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.sign-in {
  position: absolute;
  left: 86.54%;
  right: 4.71%;
  top: 21.79%;
  bottom: 20.63%;
  border: #000000;
  background: #000000;
  border-radius: 5px;
  height: 44.90906524658203px;
  width: 125.9998779296875px;
  left: 1246.1346435546875px;
  top: 17px;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.nav-bar {
  position: absolute;
  width: 1440px;
  height: 78px;
  left: 0px;
  top: 0px;
  height: 78px;
  width: 1440px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 1;
}

.testimonials-nav:hover {
  color: rgba(0, 86, 169, 0.8);
  cursor: pointer;
  background-color: #f5f5f5;
}
.home-nav:hover {
  color: rgba(0, 86, 169, 0.8);
  cursor: pointer;
  background-color: #f5f5f5;
}
.pricing-nav:hover {
  color: rgba(0, 86, 169, 0.8);
  cursor: pointer;
  background-color: #f5f5f5;
}
.company-nav:hover {
  color: rgba(0, 86, 169, 0.8);
  cursor: pointer;
  background-color: #f5f5f5;
}
.process-nav:hover {
  color: rgba(0, 86, 169, 0.8);
  cursor: pointer;
  background-color: #f5f5f5;
}

.background {
  border-radius: 0px;
  top: -90px;
  height: 1000px;
  width: 1444px;
  position: absolute;
  opacity: 0.4;
  background-repeat: no-repeat;
}

.background-div {
  background: conic-gradient(
    from -2.39deg at 29.63% -64.71%,
    rgba(0, 86, 169, 0.8) 0deg,
    rgba(0, 194, 255, 0.8) 359.96deg,
    rgba(0, 86, 169, 0.8) 360deg
  );

  border-radius: 0px;
  position: absolute;
  width: 1529px;
  height: 1444px;
  top: -80px;
  left: -89px;
  opacity: 1.8;
}

h1 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1142px;
  height: 100px;
  top: 288px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 87px;
  line-height: 115%;
  /* identical to box height, or 100px */
  letter-spacing: -0.05em;
  color: #ffffff;
}

h2 {
  position: absolute;
  width: 480px;
  height: 72px;
  left: 196px;
  top: 485px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 63px;
  line-height: 115%;
  /* or 72px */
  letter-spacing: -0.05em;
  color: #f8f32b;
}

.services {
  font-family: "Roboto";
  height: 280px;
  width: 1370px;
  position: absolute;
  display: flex;
  margin-left: 10%;
  top: 700px;
  margin-right: auto;
}

.left-service {
  width: 660px;
  height: 200px;
  margin-right: 1px;
  background-color: white;
}

.left-service:hover {
  position: relative;
  bottom: 50px;
  height: 250px;
  background-color: #232323;
  color: white;
}
.left-service:hover > .left-btn {
  background-color: white;
  color: #232323;
  border: none;
  border: 2px solid white;
}

.right-service:hover {
  position: relative;
  bottom: 50px;
  height: 250px;
  background-color: #98d9c2;
  color: white;
}
.right-service:hover > .right-btn {
  left: 475px;
  background-color: white;
}

.right-service {
  width: 660px;
  height: 200px;
  background-color: white;
}

.left-btn {
  position: absolute;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  top: 32.24%;
  bottom: 76.79%;
  height: 31px;
  width: 142px;
  left: 475px;
  background: #0c75f1;
  border-radius: 5px;
  color: white;
}


.right-btn {
  position: absolute;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(152, 217, 194, 1);
  top: 32.24%;
  bottom: 76.78%;
  height: 31px;
  width: 142px;
  left: 1143px;
  border-radius: 5px;
  color: rgba(152, 217, 194, 1);
}

h3 {
  padding-left: 50px;
  padding-top: 50px;
}

p {
  padding-left: 50px;
  padding-top: 20px;
  width: 365px;
}
